@using eShop.WebApplication.DomainClasses.ViewModelClasses
@model DisableUserViewModel


<div id="resultUpdate">

</div>
<div class="panel panel-default">
    <div class="divLoading" id="divLoadingUpdateProfile">
        <img src="@Url.Content("~/Content/Images/Main/Loadnig.GIF")" />
    </div>
    <div class="panel-heading">
        <h4 class="fontSizeLarge">
           غیر فعال کردن کاربر
        </h4>
        <p class="fontSizeLargeTitle">
             در این بخش شما می توانید کاربر جاری را در سیستم غیر فعال کنید در ضمن برای فعال سازی ذوباره کاربر از طریق همین فرم انجام گیرد
            بعد از غیر فعال کردن کاربر از سیستم امکان ورود مجدد آن کاربر تا زمان فعال سازی مجدید وجود ندارد پس در زمان غیر فعال کردن کاربر از سیستم دقت لازمه صورت گیرد
        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb" id="navBarMenu">
                <li>
                    <a href="@Url.Action(MVC.admin.Manage.ActionNames.Register,MVC.admin.Manage.Name)">ایجاد کاربر جدید در سیستم</a>
                </li>
                <li>
                    <a href="@Url.Action(MVC.admin.Manage.ActionNames.Index,MVC.admin.Manage.Name)">مشاهده لیست کاربران سیستم</a>
                </li>
            </ul>
        </div>
    </div>
    @using (Ajax.BeginForm(actionName: MVC.admin.Manage.ActionNames.DisableUser,controllerName: MVC.admin.Manage.Name,routeValues: null,ajaxOptions: new AjaxOptions{HttpMethod = "POST",InsertionMode = InsertionMode.Replace,LoadingElementId = "divLoadingUpdateProfile",UpdateTargetId = "resultUpdate"}))
    {
        <div class="panel-body">
            <div class="col-sm-12 marginBottom marginTop" style="font:normal 15px eramFont;">
                کاربر آقا / خانم <span>
                    <label style="font:normal 16px eramFont; color:green;">
                        @Model.Name
                    </label>
                </span>
                با نام کاربری
                <span>
                    <label style="font:normal 16px eramFont; color:green;">
                        @Model.UserName
                    </label>
                </span>



                در سیستم <span>
                    @if (!Model.Status)
                    {
                        <label style="font:normal 16px eramFont; color:green;">
                            فعال
                        </label>
                    }
                    else
                    {
                        <label style="font:normal 16px eramFont; color:green;">
                            غیر فعال
                        </label>
                    }
                </span>
                است.برای فعال سازی یا غیر فعال کردن از تنظیم زیر استفاده نمایید
                <br />
            </div>
            <div class="clearfix"></div>
            <div style="width:100%; height:2px; background-color:#eee;"></div>
            <div class="form-group">
                <div class="col-sm-4 marginBottom marginTop">
                    <div class="ckbox ckbox-primary">
                        @if (!Model.Status)
                        {
                            <div class="ckbox ckbox-primary">
                                <input type="checkbox" value="true" name="Status" id="Status" data-val="true" />
                                <label for="Status">
                                    غیر فعال کردن کاربر در سیستم
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="ckbox ckbox-primary">
                                <input type="checkbox" value="true" checked name="Status" id="Status" data-val="true" />
                                <label for="Status">
                                    فعال کردن کاربر در سیستم
                                </label>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="ذخیره اطلاعات بروز رسانی شده" class="btn btn-primary" onclick="$.validator.unobtrusive.parse($('form'));  " />
        </div>
    }
</div>
