@using eShop.WebApplication.DomainClasses.ViewModelClasses

@model List<ProductShowViewModel>

@{
    int page = ViewBag.page;
    int currentPage = page + 1;
    int max = ViewBag.TotalRecords / ViewBag.count;
    int firstPage = ((currentPage - 2) <= 0) ? 0 : currentPage - 3;
    int lastPage = ((currentPage + 2) >= max) ? max : currentPage + 3;
}

<div class="row">
    <div class="col-md-12">
        <div id="table-Content" class="table-responsive">
            <table class="table tableCategory" id="tableOfferProduct">
                <thead>
                    <tr>
                        <th>
                            انتخاب پیشنهاد
                        </th>
                        <th>
                            نام محصول
                        </th>
                        <th>
                            مدت زمان آموزش
                        </th>
                        <th>
                            تاریخ درج محصول
                        </th>
                        <th>
                            دسته گروه آموزشی
                        </th>
                        <th>
                            کمپانی سازنده
                        </th>

                        <th>قیمت</th>

                        <th>اطلاعات بیشتر</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>
                                <div class="ckbox ckbox-primary">
                                    <input type="checkbox" id="@MvcHtmlString.Create(Model[i].Id.ToString())" value="@Model[i].Id"
                                           name="checkboxImage" data-id="@Model[i].Id" />
                                    <label for="@MvcHtmlString.Create(Model[i].Id.ToString())"></label>
                                </div>
                            </td>
                            <td>
                                @Model[i].Name.ToString()
                            </td>
                            <td>
                                @Model[i].Time.ToString()
                            </td>
                            <td>
                                @Html.DisplayFor(x => Model[i].Date, "DisplayPersianDatePicker")
                            </td>
                            <td>
                                @Model[i].Category_Name
                            </td>
                            <td>
                                @Model[i].Company_Name
                            </td>
                            <td>
                                @Model[i].Price
                            </td>
                            <td>
                                @Html.ActionLink(linkText: "موارد بیشتر", actionName: MVC.admin.Product.ActionNames.DetailsProduct, controllerName: MVC.admin.Product.Name, routeValues: new { Id = @Model[i].Id }, htmlAttributes: new { @class = "decoration_a" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="numberPaginStyle" id="PagingContainer">
                <div class="col-md-8">
                    <ul class="pagingUl">
                        <li id="first">
                            @Ajax.ActionLink(linkText: "اولین", actionName: MVC.admin.Product.ActionNames.DataTableOffer, controllerName: MVC.admin.Product.Name, routeValues: new { technology = ViewBag.technolog, term = ViewBag.term, count = ViewBag.count, page = 0 }, ajaxOptions: new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, LoadingElementId = "divLoadingTable", UpdateTargetId = "table-Content" }, htmlAttributes: new { @class = "decoration_a" })
                        </li>
                        @for (int i = firstPage; i <= lastPage; i++)
                        {

                            if (i + 1 == currentPage)
                            {

                                <li class="active"><a href="#">@MvcHtmlString.Create("" + (@i + 1) + "").ToString()</a></li>
                            }
                            else
                            {
                                <li>
                                    @Ajax.ActionLink(linkText: MvcHtmlString.Create("" + (@i + 1) + "").ToString(), actionName: MVC.admin.Product.ActionNames.DataTableOffer, controllerName: MVC.admin.Product.Name, routeValues: new { technology = ViewBag.technology, term = ViewBag.term, count = ViewBag.count, page = i }, ajaxOptions: new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "table-Content", LoadingElementId = "divLoadingTable", OnComplete = "OnCompleteDataOffer" }, htmlAttributes: new { @class = "decoration_a" })
                                </li>
                            }
                        }
                        <li id="last">
                            @Ajax.ActionLink(linkText: "آخرین", actionName: MVC.admin.Product.ActionNames.DataTableOffer, controllerName: MVC.admin.Product.Name, routeValues: new { technology = ViewBag.technology, term = ViewBag.term, count = ViewBag.count, page = max }, ajaxOptions: new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "table-Content", LoadingElementId = "divLoadingTable" }, htmlAttributes: new { @class = "decoration_a" })
                        </li>
                    </ul>

                </div>
                <div class="col-md-4">
                    <label class="pull-right">
                        شما صفحه @currentPage از @(max + 1) هستید
                    </label>
                </div>
                <div class="statusClear"></div>
            </div>
        </div>
        <div class="divLoadingTable" id="divLoadingTable">
            <img src="~/Content/Images/Main/Loadnig.GIF" />
        </div>
    </div>
</div>

<script type="text/javascript" lang="en">
    jQuery(document).ready(function () {
    });

</script>