@using eShop.WebApplication.DomainClasses.ViewModelClasses
@using eShop.WebApplication.DomainClasses.AppClasses

@model List<SaleViewModel>

<br />
@Html.Partial(MVC.Account.Views._SolidHeaderMangementUser, "سفارشات تائید نشده من در سیستم")
<br />
<div class="row">
    <div class="baseInfoUserHeaderWithGlyphiconTop">
        <span class="glyphicon glyphicon-sort-by-order" style="margin:1px auto; font-size:33px;"></span>
    </div>
    <div class="baseInfoUserHeaderWithGlyphiconBottom">
      سفارشات تائید نشده من
    </div>
</div>
<br />

<table class="table" style="font:normal 15px eramFont;">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                کد رهگیری
            </th>
            <th>
                تاریخ
            </th>
            <th>
                قیمت
            </th>
            <th>
                هزینه پست
            </th>
            <th colspan="2">
                وضعیت خرید
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>@MvcHtmlString.Create("" + (i + 1) + "")</td>
                <td style="color:green;">
                    @MvcHtmlString.Create("EWTR-" + ((Model[i].Id * 347) + 2323) + "")
                </td>
                <td>
                    @Html.DisplayFor(x => Model[i].Date, "DisplayPersianDatePicker")
                </td>
                <td>
                    @Model[i].Price
                </td>
                <td>@Model[i].Postage</td>
                <td>
                    @if (Model[i].StatusTypePay == StatusTypePay.Online.ToString())
                    {
                        <span>آنلاین</span>
                    }
                    else
                    {
                        <span>
                            پرداخت در محل
                        </span>
                    }
                </td>
                <td>
                    <a href="@Url.Action(MVC.Sale.ActionNames.GetDataTableNotConfirmedOrder, MVC.Sale.Name, new { sale_Id = Model[i].Id })" data-toggle="modal" class="modal-link decoration_a" data-target="#ModalLoadPartial" id="loadPartial">
                        <span class="hidden-xs">اطلاعات بیشتر</span>
                        <i class="glyphicon glyphicon-log-in hide visible-xs "></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
