@using eShop.WebApplication.DomainClasses.ViewModelClasses
@model List<OrderViewModel>
<div class="col-md-12 table-responsive" >
    @if (Model.Count() > 0)
    {
        <table class="table" id="tableOrder">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        نام محصول
                    </th>
                    <th>
                        تعداد
                    </th>
                    <th>
                        قیمت
                    </th>

                    <th>
                        اطلاعات بیشتر
                    </th>
                    <th>
                        حذف محصول
                    </th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @MvcHtmlString.Create("" + (i + 1) + "").ToString()
                        </td>
                        <td class="col-md-7">
                            <a class="decoration_a" href="@Url.Action(MVC.admin.Product.ActionNames.DetailsProduct, MVC.admin.Product.Name, new { id = Model[i].Product_Id })">
                                @Model[i].Name
                            </a>
                        </td>
                        <td>
                            @Model[i].Quantity
                        </td>
                        <td>
                            @Model[i].Price
                        </td>
                        <td><a class="decoration_a" href="@Url.Action(MVC.admin.Product.ActionNames.DetailsProduct, MVC.admin.Product.Name, new { id = Model[i].Id })">اطلاعات بیشتر</a></td>
                        <td>
                            <span data-id="@Model[i].Id" class="decoration_a">حذف محصول</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">
            <p>
                متاسفانه این سفارش هیچ گونه محصولی را انتخاب نکرده است.. خواهشمندیم که این سفارش را حذف نمایید
            </p>
        </div>
    }
</div>
<style type="text/css" lang="en">
    #tableOrder tbody tr td:last-child span:hover {
        cursor: pointer;
    }
</style>

<script type="text/javascript" lang="en">
    $(document).ready(function () {
        $('#tableOrder tbody tr td:last-child span').click(function () {
            var $this = $(this);
            $.getJSON('@Url.Action(MVC.admin.Order.ActionNames.DeleteOrder,MVC.admin.Order.Name)', { id: $(this).data('id') }, function (data) {
                if (data.Result == "true") {
                    $this.closest('tr').fadeOut(2000, function () {
                        $this.closest('tr').remove();
                        if ($('#tableOrder tbody tr').length == 0) { window.location.reload(); }
                    });
                }
                else
                    alert("در حذف محصول جاری خطایی ایجاد شده است");
            });
        });
    });
</script>

