@{
    ViewBag.Title = "UpdateCity";
    Layout = "~/Areas/admin/Views/Shared/_Main.cshtml";
}
@using eShop.WebApplication.DomainClasses.AppClasses
@model Province

<div id="result">

</div>
<div class="panel panel-default">
    <div class="divLoadingContent" id="divLoadingContent">
        <img src="@Url.Content("~/Content/Images/Main/loadningMeidum.GIF")" />
    </div>
    <div class="panel-heading">
        <div class="panel-btns">
            <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
            <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">ویرایش یا حذف اطلاعات یک استان</h4>
        <p>
            شما در این بخش می توانید اقدام به ویرایش اطلاعات یم استان نمتیید و در صورت لزوم استان انتخابی را حذف نمایید
        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb" id="navBarMenu">
                <li>
                    <a href="@Url.Action(MVC.admin.Province.ActionNames.CreateProvince,MVC.admin.Province.Name)">ایجاد استان جدید</a>
                </li>
                <li>
                    <a href="@Url.Action(MVC.admin.Province.ActionNames.Index,MVC.admin.Province.Name)">مشاده لیست استان ها</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">

            <div class="form-group">
                <div class="col-sm-2">
                    نام استان
                </div>
                <div class="col-sm-4 borderBottom padingBottom">
                    @Model.Name
                </div>
            </div>
            <br />
            @foreach (var item in Model.Cities)
            {
                <div class="col-md-2 citystyle containerProvince">
                    @item.Name
                </div>
            }
            <br />
            <div class="col-md-12">
                <h3>
                    ویرایش اطلاعات
                </h3>
                <hr />
            </div>
            @using (Ajax.BeginForm(actionName: MVC.admin.Province.ActionNames.UpdateProvince, controllerName: MVC.admin.Province.Name, routeValues: null, ajaxOptions: new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "result", LoadingElementId = "divLoadingContent" }, htmlAttributes: null))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-sm-2">
                        نام استان
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control controlFocus" })
                        @Html.ValidationMessageFor(x => x.Name, "",new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="ذخیره" class="btn btn-primary pull-right" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                @Ajax.ActionLink(linkText: "حذف استان جاری", actionName: MVC.admin.Province.ActionNames.DeleteProvince, routeValues: new { Id = Model.Id }, ajaxOptions: new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, LoadingElementId = "divLoadingContent", }, htmlAttributes: new { @class = "btn btn-primary mr5" })
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript" lang="en">
        $(".dropdownProvince").chosen({
            width: "100%",
            dataplaceholder: "لطفا تعدادی برچسب انتخاب نمایید"
        }).css({ height: "60px" });
    </script>
}