@{
    ViewBag.Title = "createCategory";
    Layout = "~/Areas/admin/Views/Shared/_Main.cshtml";
}

@using WebApplication.ViewModels

@model CategoryAddViewModel

<div id="result">
</div>

<div class="row">
    <div class="col-md-12">
        <div class="divLoadingContent" id="divLoadingContent">
            <img src="@Url.Content("~/Content/Images/Main/725.GIF")" />
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="fontSizeLarge">راهنمایی ایجاد گروه آموزشی</h4>
                <p class="fontSizeLargeTitle">
                    شما در این بخش می توانید گروه های آموزشی خود را وارد نمایید هر گروه می تواند یک پدر داشته باشد
                    مثلا در بخش طراحی وب که شامل یک سری از تکنولوژی های مثل Jquery  و CSS ..
                    می باشد که این دو تکنولوژی داری ریشه می باشند و ریشه آنها طراحی وب است
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb" id="navBarMenu">
                        <li>
                            <a href="#">مشاهده اطلاعات پایه گروه های آموزشی</a>
                        </li>
                        <li>
                            <a href="#"> مشاهده کلیه محصولات آموزشی این گروه</a>
                        </li>
                        <li>
                            <a href="#">مشاهده کلیه کمپانی های سازنده محصولات این گروه آموزشی</a>
                        </li>
                    </ul>
                </div>
            </div>
            @using (Ajax.BeginForm(actionName: MVC.admin.Category.ActionNames.CreateCategory, controllerName: MVC.admin.Category.Name, ajaxOptions: new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, LoadingElementId = "divLoading", UpdateTargetId = "result" }))
            {
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@Html.LabelFor(x => x.Name)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control controlFocus" })
                                @Html.ValidationMessageFor(x => x.Name, "",new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">@Html.LabelFor(x => x.Parent_Id)</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.Parent_Id, (SelectList)ViewBag.selectParent,"لطفا یکی از گروه ها را انتخاب نمایید",new { @class = "form-control selected controlFocus" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <input type="submit" value="ذخیره سازی" class="btn btn-primary" />
                            <input type="reset" value="خالی کردن باکس ها" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
