@{
    ViewBag.Title = "updateCategory";
    Layout = "~/Areas/admin/Views/Shared/_Main.cshtml";
}

@using WebApplication.ViewModels

@model CategoryEditViewModel

<div id="result">
    @Html.Raw(TempData["updateCategory"])
</div>

<div class="row">
    <div class="col-md-12">
        <div class="divLoadingContent" id="divLoadingContent">
            <img src="@Url.Content("~/Content/Images/Main/725.GIF")" />
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="fontSizeLarge">راهنمایی بروز رسانی گروه های آموزشی</h4>
                <p class="fontSizeLargeTitle">
                    شما در این بخش می توانید گروه های آموزشی خود را وارد نمایید هر گروه می تواند یک پدر داشته باشد
                    مثلا در بخش طراحی وب که شامل یک سری از تکنولوژی های مثل Jquery  و CSS ..
                    می باشد که این دو تکنولوژی داری ریشه می باشند و ریشه آنها طراحی وب است
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb" id="navBarMenu">
                        <li>
                            <a href="@Url.Action(MVC.admin.Category.ActionNames.CreateCategory,MVC.admin.Category.Name)">
                                ایجاد گروه آموزشی جدید
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.admin.Category.ActionNames.Index,MVC.admin.Category.Name)">
                                نمایش لیست گروه های آموزشی
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.admin.Category.ActionNames.DetailsCategory, MVC.admin.Category.Name, new { Id = Model.Id })">
                                نمایش جزئیات گروه آموزشی
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            @using (Html.BeginForm(actionName: MVC.admin.Category.ActionNames.UpdateCategory,controllerName: MVC.admin.Category.Name, method: FormMethod.Post))
            {
                <input type="hidden" value="@Model.Id" name="Id" />
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@Html.LabelFor(x => x.Name)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control controlFocus" })
                                @Html.ValidationMessageFor(x => x.Name, "",new { @class = "text-danger" })
                            </div>
                        </div>

                        @if (Model.Parent_Id != null)
                        {
                            <input type="hidden" value="@Model.Parent_Id" name="parentCategory" />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@Html.LabelFor(x => x.Parent_Id)</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(x => x.Parent_Id, (SelectList)ViewBag.selectParent,"لطفا یکی از گروه ها را انتخاب نمایید",new { @class = "form-control selected controlFocus" })
                                    @Html.ValidationMessageFor(x => x.Parent_Id,"", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                    </div>
                </div>


                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <input type="submit" value="ذخیره سازی" class="btn btn-primary" />
                            <input type="reset" value="خالی کردن باکس ها" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

