@using eShop.WebApplication.DomainClasses.ViewModelClasses
@model List<IntersetUserViewModel>

<br />
@Html.Partial(MVC.Account.Views._SolidHeaderMangementUser, "لیست علاقه مندی های من در سیتم")
<br />
<div class="row">
    <div class="baseInfoUserHeaderWithGlyphiconTop">
        <span class="glyphicon glyphicon-heart" style="margin:1px auto; font-size:33px;"></span>
    </div>
    <div class="baseInfoUserHeaderWithGlyphiconBottom">
        لیست علاقه مندی های من
    </div>
</div>
<br />
<div class="row">

    <div class="col-md-12">
        <table class="table" style="font:normal 15px eramFont;">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th colspan="7">
                        نام محصول
                    </th>
                    <th>
                        گروه آموزشی
                    </th>
                    <th>
                        کمپانی سازنده
                    </th>
                    <th>
                        قیمت
                    </th>
                    <th>
                        اطلاعات بیشتر
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @MvcHtmlString.Create("" + (i + 1) + "")
                        </td>
                        <td colspan="7">
                            @Html.RouteLink(Model[i].Name, "DetailsProduct", new { productId = Model[i].Id, productName = UrlExtensions.ResolveTitleForUrl(Model[i].Name) }, new { @class = "decoration_a" })
                        </td>
                        <td>
                            @Html.RouteLink(Model[i].Category_Name, "Category", new { categoryId = Model[i].Category_Id, categoryName = UrlExtensions.ResolveTitleForUrl(Model[i].Category_Name) }, new { @class = "decoration_a" })
                        </td>
                        <td>
                            @Html.RouteLink(Model[i].Company_Name, "DetailsCompany", new { companyId = Model[i].Company_Id, companyName = UrlExtensions.ResolveTitleForUrl(Model[i].Company_Name) }, new { @class = "decoration_a" })
                        </td>
                        <td>
                            @Model[i].Price
                        </td>
                        <td>
                            <a href="@Url.RouteUrl("DetailsProduct", new { productId = Model[i].Id, productName = UrlExtensions.ResolveTitleForUrl(Model[i].Name) })" class="decoration_a">اطلاعات بیشتر</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
