@{
    ViewBag.Title = "addProductPackage";
    Layout = "~/Areas/admin/Views/Shared/_Main.cshtml";


    var HourEducation = int.Parse(Model.TimeEducationPackage.Split(':')[0]);
    var MinuteEducation = int.Parse(Model.TimeEducationPackage.Split(':')[1]);

    if (MinuteEducation > 60)
    {
        HourEducation += MinuteEducation / 60;
        MinuteEducation = MinuteEducation % 60;
    }


}

@using eShop.WebApplication.DomainClasses.ViewModelClasses
@model PackageViewModel

<input type="hidden" value="@Model.Id" name="Package_Id" id="Package_Id" />

<div id="resultOperation">

</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial(partialViewName: MVC.admin.Package.Views._BaseInformationPackage, model: Model)
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-2">توضحیات مربوط به پکیج آموزشی</div>
    <div class="col-md-10 borderRight textColor">
        @Html.Raw(Model.ExplainPackage)
    </div>
    <div class="col-md-12 borderBottom">
        <div class="spliterDivPackage">
        </div>
    </div>
</div>
<br />
<div class="alert alert-warning">
    <p>
        تعداد محصولات باقی مانده در هر پکیج باید 4 محصول باشد در غیر این صورت نمی توانید اقدام به حذف نمایید . برای حذف بیشتر تنها راه اقدام به حذف کل پکیج می باشد
    </p>
</div>
<div class="row">
    <div class="col-md-12" style=" padding:8px 0;">
        <h4 class="text-center">
            محصولات آموزشی پکیج :
            &nbsp;&nbsp;
            <span>
                @Model.NamePackage
            </span>
        </h4>
    </div>
</div>

<div class="row" id="loadingElement">
    <div class="col-md-12" id="ElementLoading">
        <img src="@Url.Content("~/Content/Images/Main/loadingAnimation.gif")" class="center-block" />
    </div>
</div>

<div class="row" id="contenttablePackage">
    <div class="col-md-12">
        <table class="table" id="tablePackage">
            <thead>
                <tr>
                    <th>
                        انتخاب
                    </th>
                    <th>
                        نام محصول آموزشی
                    </th>
                    <th>
                        قیمت محصول
                    </th>
                    <th>
                        مدت زمان آموزش
                    </th>

                    <th>
                        کمپانی سازنده محصول آموزشی
                    </th>
                    <th>
                        اطلاعات بیشتر
                    </th>
                </tr>
            </thead>
            <tbody id="result"></tbody>

        </table>
    </div>


    <div class="col-md-12">
        <div class="col-md-2">
            <input type="button" id="btnDeleteProductPerPackage" class="btn btn-primary" value="حذف محصولات انتخابی پکیج" />
        </div>
        <div class="col-md-10" id="loadingElementSubmit">
            <img src="@Url.Content("~/Content/Images/Main/loadingAnimation.gif")" class="center-block" />
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript" lang="en">
    $(document).ready(function () {

        $(".alert").hide();

        var id = $("#Package_Id").val();
        $("#loadingElementSubmit").hide();
        $("#contenttablePackage").hide();
        $.ajax({
            cache: false,
            type: "GET",
            url: "@Url.Action(MVC.admin.Package.ActionNames.DeleteProductPerPackage, MVC.admin.Package.Name)",
            data: { "id": id },
            success: function (data) {
                $("#result").fadeOut(600, function () {
                    $("#contenttablePackage").fadeIn(1000);
                    $(this).html(data).fadeIn(1000);
                });
                $("#loadingElement").hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve books.');
            }
        });



        var arrayCheckBox = [];
        $(document).on('change', '#result :checkbox', function () {

            var checkBox = $('#result input:checkbox').length;
            var checkBoxChecked = $('#result input:checkbox:checked').length;
            var checkBoxUnChecked = checkBox - checkBoxChecked;

            if (checkBoxUnChecked >= 4)
                $(".alert").hide();
            else
                $(".alert").show();

            if ($(this).is(':checked')) {
                arrayCheckBox.push($(this).attr('value').split('/')[0]);
            } else {
                //در اینجا باید آرایه هم پاس داده شود / grep
                var IdProduct = $(this).attr('value').split('/')[0];
                arrayCheckBox = jQuery.grep(arrayCheckBox, function (value) {
                    return value != IdProduct;
                });
            }


        });

        $(document).on('click', '#btnDeleteProductPerPackage', '#result input:checkbox', function () {

            var checkBox = $('#result input:checkbox').length;
            var checkBoxChecked = $('#result input:checkbox:checked').length;
            var checkBoxUnChecked = checkBox - checkBoxChecked;

            if (checkBoxUnChecked >= 4) {
                $(".alert").hide();
                if (arrayCheckBox.length > 0) {

                    $("#loadingElementSubmit").show();

                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "@Url.Action(MVC.admin.Package.ActionNames.SubmitDeleteProductPerPackage,
                                 MVC.admin.Package.Name)",
                        data: { "Package_Id": id, array: arrayCheckBox.toString() },
                        success: function (data) {

                            $("#loadingElementSubmit").hide();
                            $("#resultOperation").fadeOut(200, function () {
                                $(this).html(data).fadeIn(200);
                            });
                            $("#loadingElementSubmit").hide();

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve books.');
                            $("#loadingElementSubmit").hide();

                        }
                    });
                }
                else
                    alert("برای حذف حتما باید یک یا بشتر از یک محصول را انتخاب نمایید");

            }
            else
                $(".alert").show();
        })
    });
</script>
}