@{
    ViewBag.Title = "تغیر رمز عبور ئر فناوران اطلاعات ارم وب";
    Layout = "~/Views/Shared/_MainSidebar.cshtml";
}
@using eShop.WebApplication.DomainClasses.IdentityViewModel
@model ChangePasswordViewModel

<div class="row img-rounded" style="background-color:white;padding-top:25px; padding-bottom:25px;">
    <div class="center-block">
        <img src="~/Content/Images/Main/register_icon.png" class="center-block" />
    </div>
    <div class="center-block" style="text-align:center; margin-top:15px; margin-bottom:20px; padding-bottom:20px;">
        <span class="center-block" style="font-size:17px;">
            تغیر رمز عبور در فناوران اطلاعات ارم وب
        </span>
    </div>
    <div class="center-block"><div class="form-group col-md-4"></div></div>

    <div class="col-md-5">
        <div style="border:1px solid #eee; height:1px;"></div>
        <br />
        <div class="divLoading" id="divLoadingChangePasswordUser">
            <img src="~/Content/Images/Main/loadningSamall.GIF" />
        </div>
        @using (Ajax.BeginForm(actionName: MVC.Account.ActionNames.ChangePassword,
            controllerName: MVC.Account.Name,
            routeValues: null,
            ajaxOptions: new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "resultOperation",
                LoadingElementId = "divLoadingChangePasswordUser"
            },
            htmlAttributes: null))
        {
            @Html.AntiForgeryToken()
            <div>
                <p style="font-size:16px;">
                    رمز عبور قدیم :
                </p>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control col-md-4 controlFocus" })
                @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div>
                <p style="font-size:16px;">
                    رمز عبور جدید :
                </p>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control col-md-4 controlFocus", type = "password" })
                @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div>
                <p style="font-size:16px;">
                    تکرار رمز عبور جدید :
                </p>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control col-md-4 controlFocus", type = "password" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="تغیر رمز عبور در فناوران اطلاعات ارم وب" class="btn btn-primary" style="width:100%;margin-top:20px; margin-bottom:20px;" />
            </div>

        }

        <div class="form-group">
            <div id="resultOperation">

            </div>
        </div>

        <div style="border:1px solid #eee; height:1px;"></div>
        <div class="form-group">
            <br />

            <span>
                <a class="a_redirect" href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)">
                شرکت فناوران اطلاعات ارم وب شیراز
                </a>
            </span>
        </div>
    </div>
</div>