@using eShop.WebApplication.DomainClasses.IdentityViewModel
@model ResetPasswordViewModel

@{
    ViewBag.Title = "ریسیت کردن رمز عبور در فناوران اطلاعات ارم وب شیراز";
    Layout = "~/Views/Shared/_MainSidebar.cshtml";
}


<div class="row img-rounded" style="background-color:white;padding-top:25px; padding-bottom:25px;">
    <div class="center-block">
        <img src="~/Content/Images/Main/register_icon.png" class="center-block" />
    </div>
    <div class="center-block" style="text-align:center; margin-top:15px; margin-bottom:20px; padding-bottom:20px;">
        <span class="center-block" style="font-size:17px;">
            تغیر رمز عبور بازیابی شده در فناوران اطلاعات ارم وب
        </span>
    </div>
    <div class="center-block"><div class="form-group col-md-4"></div></div>

    <div class="col-md-5">
        <div style="border:1px solid #eee; height:1px;"></div>
        <br />
        <div class="divLoading" id="divLoadingResetPasswordUser">
            <img src="~/Content/Images/Main/loadningSamall.GIF" />
        </div>
        @using (Ajax.BeginForm(actionName: MVC.Account.ActionNames.ResetPassword,
            controllerName: MVC.Account.Name,
            routeValues: null,
            ajaxOptions: new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "resultOperation",
                LoadingElementId = "divLoadingResetPasswordUser"
            },
            htmlAttributes: null))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)
            <div>
                <p style="font-size:16px;">
                    رایانامه :
                </p>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control col-md-4 controlFocus" })
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </div>
            <div>
                <p style="font-size:16px;">
                    رمز عبور :
                </p>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control col-md-4 controlFocus", type = "password" })
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            </div>
            <div>
                <p style="font-size:16px;">
                    تکرار رمز عبور :
                </p>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control col-md-4 controlFocus", type = "password" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="تغیر رمز عبور بازیابی شده در فناوران اطلاعات ارم وب" class="btn btn-primary" style="width:100%;margin-top:20px; margin-bottom:20px;" />
            </div>

        }

        <div class="form-group">
            <div id="resultOperation">

            </div>
        </div>

        <div style="border:1px solid #eee; height:1px;"></div>
        <div class="form-group">
            <br />

            <span>
                من قبلا در فناوران اطلاعات ارم وب ثبت نام کرده ام
            </span>
        </div>
    </div>
</div>